Ask a yes-or-no question and click the ball for your answer.
<h1 style="border-bottom:none;">
  <div id="answer" style="text-align:center;min-height:1.5em;" class="magic8ball-answer">?</div>
  <div id="ball" style="cursor:pointer;text-align:center;margin-top:16px;">🎱</div>
</h1>

<script>
const answersLists = {
  "list-yes-no": ["Yes", "No"],
  "list-team-members": <%= raw(@team.team_members.map { |tm| tm.user.name }.to_json) %>,
};
document.getElementById('ball').addEventListener('click', () => {
  const answers = answersLists["list-yes-no"];
  const answerElement = document.getElementById('answer')
  answerElement.classList.remove("magic8ball-answer")
  setTimeout(() => {
    answerElement.textContent = "✨ " + answers[Math.floor(Math.random() * answers.length)] + " ✨"
    answerElement.classList.add("magic8ball-answer")
  }, 10)
})
</script>
