<h1><i class="note-icon large-icon"></i> Note</h1>
<%= form_with(model: [@note]) do |form| %>
  <div style="margin-bottom:8px;">
    <%= form.text_field :title, placeholder: 'Title' %>
  </div>
  <div>
    <%= form.text_area :text, placeholder: 'Text (markdown supported)', style: 'height:300px;' %>
  </div>
  <%= form.submit 'Save note' %>
<% end %>
