run = "rails server --binding=0.0.0.0"
entrypoint = "app/controllers/application_controller.rb"

hidden = [".bundle"]

[env]
PATH = "/home/runner/${REPL_SLUG}/bin"
EDITOR = "nano"
RACK_MINI_PROFILER = "off"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-21_11"

[languages]

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = "solargraph stdio"
