<span
  data-controller="decision-results"
  data-decision-results-url-value="<%= @decision.path %>/results.html"
  >
  <h2>Results</h2>
  <p>
    <a data-action="click->decision-results#toggleResults" href="#"><% if @show_results %>Hide<% else %>Show<% end %> results</a>
  </p>

  <span id="results" style="display:<% if @show_results %>inline<% else %>none<% end %>;">
    <span data-decision-results-target="message">Results as of <span data-decision-results-target="age"></span>. <a data-action="click->decision-results#refreshResults" href="#">Refresh results</a>
    </span>
    <table>
      <thead>
        <tr>
          <th>Approvals</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% @decision.results.each do |result| %>
          <tr>
            <td><%= result.approved_yes || 0 %></td>
            <td><%= result.option_title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </span>
</span>