<h2>Voters <%= octicon 'check-circle', height: 24 %> <%= @decision.voter_count %></h2>

<% if @decision.voters.empty? %>
  <em>No voters yet.</em>
<% end %>

<ul>
  <% @decision.voters.each do |voter| %>
    <li>
      <%= profile_pic(voter) %>
      <%= voter.display_name %>
    </li>
  <% end %>
</ul>
