<ul>
<% @confirmed_read_note_events.each do |event| %>
  <li>
    <%= render 'shared/inline_resource_item', resource: event.note %>
    read <%= timeago(event.happened_at) %> ago
  </li>
<% end %>
</ul>