<h1><%= @current_studio.name %> Pages</h1>
<p>The following are pages published by members of this studio. Only studio members can access thiese pages.</p>
<ul>

<% if @pages.empty? %>
  <li>No pages published yet.</li>
<% else %>
  <% @pages.each do |page| %>
    <li><a href='<%= page.full_studio_path %>'><%= page.title %></a></li>
  <% end %>
<% end %>
