<% selections = @cycle.selections %>
<% @grouped_rows.each do |group_rows| %>
  <% group, rows = group_rows %>
  <%= render 'shared/collapseable_section', title: group, header_level: 2, hidden: false do %>
    <table>
      <tr>
        <% selections.each do |selection| %>
          <th><%= selection.titleize %></th>
        <% end %>
      </tr>
      <% rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td><%= cell %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

