<h1>Cycles</h1>
<h2>Current</h2>
<%= render 'shared/cycle_count_table', cycles: @current_cycles %>

<h2>Recent</h2>
<%= render 'shared/cycle_count_table', cycles: @recent_cycles %>

<h2>Future</h2>
<%= render 'shared/cycle_count_table', cycles: @future_cycles %>