<% if pinned_items.length > 0 %>
  <ul>
    <% pinned_items.each do |item| %>
      <li>
        <%= render 'shared/inline_resource_item', resource: item[:item] %>
        pinned <%= timeago(item[:pinned_at]) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No pinned items yet.</p>
<% end %>
