<div style="background-color:rgba(0,255,255,0.2);">
  <% links = @current_user.scratchpad_links(tenant: @current_tenant, studio: studio) %>
  <%= render 'shared/collapseable_section', title: "your scratchpad links (#{links.count})", header_level: 4, hidden: true, octicon: 'file' do %>
    <% if links.empty? %>
      <p>When you add links to your scratchpad, the links to items that are in this studio will appear here.</p>
      <p>You can edit your scratchpad <a href="/scratchpad">here</a>, and you can also append a link to any item via the [...] menu in the upper right corner of the item's page.</p>
    <% else %>
      <p>Links from your <a href="/scratchpad">scratchpad</a> to items in this studio:</p>
      <ul>
        <% links.each do |item| %>
          <li>
            <%= render 'shared/inline_resource_item', resource: item[:resource] %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>