<span class="tooltip" data-controller="tooltip">
  <%= octicon 'info', style: 'opacity:0.6;cursor:pointer;width:12px;margin-bottom:4px;' %>
  <span class="tooltip-info" data-tooltip-target="info" style="display:none;">
    <%= yield %>
  </span>
</span>