Results as of <span id="results-age-display"></span>. Refresh page to get updated results.
<script>
  setInterval(() => {
    const timeOfInitialRender = new Date('<%= DateTime.now %>');
    const timeDiff = (new Date()) - timeOfInitialRender;
    const seconds = Math.floor(timeDiff / 1000);
    const minutes = Math.floor(seconds / 60);
    const hours = Math.floor(minutes / 60);
    const days = Math.floor(hours / 24)
    const displayEl = document.getElementById('results-age-display');
    if (days > 1) {
      displayEl.textContent = days + 'days ago';
    } else if (days == 1) {
      displayEl.textContent = days + ' day ago';
    } else if (hours > 1) {
      displayEl.textContent = hours + ' hours ago';
    } else if (hours == 1) {
      displayEl.textContent = hours + ' hour ago';
    } else if (minutes > 1) {
      displayEl.textContent = minutes + ' minutes ago';
    } else if (minutes == 1) {
      displayEl.textContent = minutes + ' minute ago';
    } else if (seconds == 1) {
      displayEl.textContent = seconds + ' second ago';
    } else {
      displayEl.textContent = seconds + ' seconds ago';
    }
  }, 1000);
</script>
| Approvals | Option               |
| --------- | -------------------- |
<% @current_decision.results.each do |result| %>| <%= "#{result.approved_yes || 0}".rjust(9, ' ') %> | <%= result.option_title.slice(0, 20).ljust(20, ' ') %> |
<% end %>