<% if @current_tenant.description.present? %>
<h1>About <%= @current_tenant.name %></h1>

<p><%= @current_tenant.description %></p>

<% end %>
<h1>About Harmonic Team</h1>

<p>
  Harmonic Team is an <a href="https://github.com/decisiveteam/DecisiveTeam">open-source</a> web application for fast group coordination, built by <a href="https://ibis-coordination.com">Ibis Coordination</a>.
</p>