<h1><%= @current_tenant.name %></h1>
<h2>Create</h2>
<p>
  <img src="/resource-icons/note-icon.svg" style="height:2em;float:left;margin-right:12px"/>
  <a href="/note"><button>New Note</button></a>
</p>
<p>
  <img src="/resource-icons/decision-icon.svg" style="height:2em;float:left;margin-right:12px"/>
  <a href="/decide"><button>New Decision</button></a>
</p>
<p>
  <img src="/resource-icons/commitment-icon.svg" style="height:2em;float:left;margin-right:12px"/>
  <a href="/commit"><button>New Commitment</button></a>
</p>
<h2>Pinned</h2>
<%= render 'pinned' %>

<h2>Team</h2>
<%= render 'team' %>

<h2>Backlinks</h2>
<%= render 'backlinks' %>
