<% if current_user %>
  <h1>Teams</h1>
  <ul>
    <% @teams.each do |team| %>
      <li><a href="<%= team.path %>"><%= team.name %></a></li>
    <% end %>
  </ul>
  <p><a href="<%= new_team_path %>">Start a new team</a></p>
  <!-- <p><a href="">Join an existing team</a></p> -->
<% else %>
  <h1>Welcome to Decisive Team</h1>
  <p>Decisive Team is a tool that enables teams to make group decisions quickly.</p>
  <p><a href="/signup">Sign up</a> or <a href="/login">log in</a> to get started.</p>
<% end %>