<h1>Harmonic Team</h1>
<p>
  <img src="/resource-icons/note-icon.svg" style="height:2em;float:left;margin-right:12px"/>
  <a href="/note"><button>New Note</button></a>
</p>
<p>
  <img src="/resource-icons/decision-icon.svg" style="height:2em;float:left;margin-right:12px"/>
  <a href="/decide"><button>New Decision</button></a>
</p>
<p>
  <img src="/resource-icons/commitment-icon.svg" style="height:2em;float:left;margin-right:12px"/>
  <a href="/commit"><button>New Commitment</button></a>
</p>
