<h1><%= octicon "home", height: 32, style: 'padding-bottom:3px;' %> <%= @current_tenant.domain %></h1>

<% if @current_user %>
  <% unless @current_representation_session %>
    <a href="/studios/new"><button style="float:right;margin-top:8px;">New Studio</button></a>
  <% end %>
  <h2>Your Studios</h2>
  <% if @studios.any? %>
    <% @studios.each.with_index do |studio, index| %>
      <%= render 'homepage_studio_section', studio: studio, expanded: index == 0 %>
    <% end %>
  <% else %>
    <p>No studios yet.</p>
  <% end %>

  <% if @current_tenant.allow_main_studio_items? %>
    <h2>Create</h2>
    <p>
      <i class="note-icon large-icon" style="height:2em;float:left;margin-right:12px"></i>
      <a href="/note"><button>New Note</button></a>
    </p>
    <p>
      <i class="decision-icon large-icon" style="height:2em;float:left;margin-right:12px"></i>
      <a href="/decide"><button>New Decision</button></a>
    </p>
    <p>
      <i class="commitment-icon large-icon" style="height:2em;float:left;margin-right:12px"></i>
      <a href="/commit"><button>New Commitment</button></a>
    </p>
  <% end %>
<% else %>
  <p><a href="/login">Log in</a></p>
<% end %>