<span data-controller="new-decision"><strong># New Decision</strong>

<strong>## Question: <span data-new-decision-target="question-input"  class="markdown-input-field" contenteditable>[type your question here]</span></strong>

<button data-action="submit->decision#add">Create Decision</button>
</span>