<span data-controller="new-decision"><strong># New Decision</strong>

<strong>## Question: <span data-new-decision-target="question-input"  class="markdown-input-field" contenteditable>[type your question here]</span></strong>
Context: <span data-new-decision-target="context-input" class="markdown-input-field" contenteditable>[describe context here. markdown supported. including links to other decisions will create bidirectional references]</span>

<button data-action="submit->decision#add">Create Decision</button>
</span>