
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.js" integrity="sha512-oprzqYFJfo4Bx/nNEcSI0xo7ggJrLc+qQ6hrS3zV/Jn0C4dsg4gu+FXW/Vm0jP9CrV7e5e6dcLUYkg3imjfjbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<button id="join-game">Join Game</button>
<button id="commit">Commit</button>
<button id="poll">Poll</button>
<pre id="ascii-board" style="display:inline-block; float:left;"></pre>
<ul id="legal-moves" style="display:inline-block; width: 50%;"></ul>
<pre id="debug-display"></pre>

<script src="<%= asset_path 'chess_game.js' %>"></script>
<script>
  window.match_id = '<%= @note.truncated_id %>';
  window.gameState = JSON.parse('<%= @game_state.to_json.html_safe %>');
  renderGame(window.gameState);
</script>