<% if @commitment.closed? %>
  <p>
    This commitment is closed.
  </p>
<% elsif @current_user %>
  <% if @commitment_participant.committed? %>
    <p>
      <button style="background:#dfdfdf;color:#9f9f9f;cursor:default;">
        Committed
      </button>
      <span style="font-style:italic;">Your commitment has been recorded.</span>
    </p>
  <% else %>
    <p>
      <button
        data-action="click->commitment#join mouseenter->commitment#joinButtonMouseEnter mouseleave->commitment#joinButtonMouseLeave"
        data-commitment-target="joinButton"
        data-url="<%= @commitment.path + '/join.html' %>"
        >
        Commit to participating
      </button>
      <span
        data-commitment-target="joinButtonMessage"
        >Your commitment will be visible to all members of <%= @current_studio.name %>.
      </span>
    </p>
  <% end %>
  <p>
    Commitments only take effect if critical mass is achieved.
    <%= render 'reciprocal_commitment_tooltip' %>
  </p>
<% else %>
  <div class="auth-required-message">
    <%= button_to 'Log in', '/login', method: :get, data: { redirect_to_resource: @commitment.path } %> to join this commitment.
  </div>
<% end %>