<div
  data-commitment-target="participantsList"
  data-url="<%= @commitment.path + '/participants.html' %>"
  data-limit="<%= @participants_list_limit %>"
  >
  <%= render 'participants_list_items' %>
</div>
