<h1>New OAuth Application</h1>

<%= form_with(model: @oauth_application, url: oauth_applications_path) do |form| %>
  <%= render 'form', form: form %>
  <%= form.submit 'Create' %>
<% end %>

<%= link_to 'Back', oauth_applications_path %>
