/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #FFF;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background-color: #000;
  }
}

@font-face {
  font-family: "Source Code Pro";
  src: url('/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

pre, .markdown-body {
  width: min(88vw, 800px);
  padding: 8px 12px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #AAA;
}

pre {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

.markdown-checkbox {
  cursor: pointer;
}