<ul>
  <li>
    <a href="<%= @current_studio.path %>/cycles">Cycles</a>
  </li>
  <li>
    <a href="<%= @current_studio.path %>/backlinks">Backlinks</a>
  </li>
  <li>
    <a href="<%= @current_studio.path %>/views">Views</a>
  </li>
</ul>
