<ul>
<% @team.each do |u| %>
  <li>
    <a href="/u/<%= u.handle %>" class="user-profile-link">
      <img src="<%= u.image_url %>"/> <%= u.display_name %>
    </a>
    <% if u.studio_user.is_admin? %>
      <span class="admin-badge">admin</span>
    <% end %>
  </li>
<% end %>
</ul>
