<h4 style="margin-top:0px;margin-bottom:0;"><a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> / Views</h4>
<h1 style="margin-top:0;">Views</h1>

<ul>
  <li><a href="<%= @current_studio.path %>/view?filters=mine">Your items</a></li>
  <li>Notes you have read</li>
  <li>Notes you have not read</li>
  <li>Decisions you have voted on</li>
  <li>Decisions you have not voted on</li>
  <li>Commitments you have joined</li>
  <li>Commitments you have not joined</li>
  <li>Closing soon</li>
  <li>Recently updated</li>
</ul>