<h1>Decision Beacon</h1>

<p>
  This is a decision beacon of unpredictable values generated at regular intervals.
  The values are unpredictable because they are randomly generated based on the input values described below.
</p>

<h2>Beacon Inputs</h2>

<p>
  These input values (combined with a secret key known only to <code><%= @current_tenant.domain %></code>) determine the output values.
</p>

<p>
  Past output values can be retrieved by providing the same input values,
  but future output values cannot be retrieved because <code><%= @current_tenant.domain %></code> does not allow it.
  Thus the values are effectively unpredictable.
</p>

<pre>
<%= JSON.pretty_generate(@json_response[:input]) %>
</pre>

<h2>Beacon Outputs</h2>

<pre>
<%= JSON.pretty_generate(@json_response[:output]) %>
</pre>
