<h4 style="display:inline-block;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / 🎲 Randomness
</h4>
<%= form_with url: "#{@current_studio.path}/random" do |form| %>
  <p>
    Randomness is often the fairest (and funnest) way to make a decision.
    <br/>
    Select <strong>coin toss</strong> for binary decisions,
    <strong>names from a hat</strong> for selection from a list,
    and <strong>shuffle</strong> for sequencing.
  <div>
    <h4>Randomness Type</h4>
    <%= form.select :type, ['coin toss', 'names from a hat', 'shuffle'], value: 'coin toss' %>
  </div>
  <hr style="height:1px;" />
  <%= form.submit 'Next' %>
<% end %>
