<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.5/ace.min.js" integrity="sha512-NIDAOLuPuewIzUrGoK5fXxowwGDm0DFJhI5TJPyTP6MeY2hUcCSKJr54fecQTEZ8kxxEO2NBrILQSUl4qZ37FA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.5/mode-markdown.min.js" integrity="sha512-6POKArs6bJW5Stg2VlGSlx1mEy/BRwaUk5xuhZVqts4cwKLHjO3i3OD3yPasDlMGEFDLN5RbP0UuBMllqhU2xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<span data-controller="scratchpad">
  <div
    id="scratchpad"
    class="<%= @current_user.scratchpad['editor_theme'] || 'default' %>-theme"
    style="display:<%= @current_user.scratchpad['visible'] ? 'block' : 'none' %>"
    data-scratchpad-target="editor"
    data-url="<%= @current_user.path %>/scratchpad"
  ><%= @current_user.scratchpad['text'] %></div>
</span>