<a href="/">
  <span
    class="top-left-menu-button"
    style="cursor:pointer;"
    data-action="click->top-left-menu#toggleMenu"
    data-top-left-menu-target="button"
    >
    <i class="logo"></i>
  </span>
</a>